# ---------------------------------------------------
# Telegram
# ---------------------------------------------------


# You can create a bot or get a token for an existing
# bot in the special @BotFather bot in Telegram,
# or go to the link https://t.me/BotFather

TELEGRAM__BOT_TOKEN=


# Specify the bot administration
# IDs who can get full access.
#
# The identificators must be specified in square brackets
# separated by a comma: [123,456]

TELEGRAM__ADMIN_IDS=


# Specify the chats where the service messages will be
# delivered. You can specify your own ID, or the ID of a
# group chat or channel
# 
# The value must be specified in square brackets separated by
# a comma: [123,456]
# 
# NOTICE: For group chats and channels, the ID must start
# with -100, for example: -1005286129415

TELEGRAM__BROADCAST_CHAT_IDS=


# ---------------------------------------------------
# Minecraft
# ---------------------------------------------------


# Minecraft Server host, for example: localhost or
# 127.0.0.1, example.minecraft.server. Port is 2556 by default

MINECRAFT__HOST=
MINECRAFT__PORT=25565


# ---------------------------------------------------
# RCON
# ---------------------------------------------------


# You can retrieve RCON settings from the server.properties file
# in your Minecraft Server folder

RCON__PORT=
RCON__PASSWORD=